/* REGISTER PAGE*/


.form-box-register{
    max-width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.55);
    padding: 25px;
    border-radius: 12px;
}

.form-box-register input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

.form-box-register button {
    margin-top: 10px;
    padding: 12px 20px;
    background: #6B704D;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
}

.form-box-register button:hover {
    background: #59603f;
}