.btn-create-acc{

    background-color: #055210;
    border-radius: 50px;
    padding: 8px 18px;
    color: #fcfcfc;
    text-decoration: none;
    transition: 0.25s;
}

.btn-create-acc:hover{

    background-color: #d4edda;
}

.btn-login-acc{
    background-color: #055210;
    border-radius: 50px;
    padding: 8px 18px;
    color: #fcfcfc;
    text-decoration: none;
    transition: 0.25s;
}

.btn-login-acc:hover{

    background-color: #d4edda;
}

.btn-acc-edit{
    background-color: #083955;
    border-radius: 50px;
    padding: 12px 24px;
    color: #fcfcfc;
    text-decoration: none;
    transition: 0.25s;
}

.btn-acc-delete{
    background-color: #b44444;
    border-radius: 50px;
    padding: 12px 24px;
    color: #fcfcfc;
    text-decoration: none;
    transition: 0.25s;
}

.btn-acc-edit:hover{
    background: #294e63;
}

.btn-acc-delete:hover{
    background: #e25a5a;
}

/* ACCOUNT DASHBOARD       */

.booking-list {
    max-width: 600px;
    margin: auto;
}

.booking-item {
    background: rgba(0,0,0,0.45);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

.logout-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    background: #b44444;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.logout-btn:hover {
    background: #8f3333;
}
