/* EDUCATION PAGE          */


.edu-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

/* Main layout container */
.education-layout {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 40px;
    background: rgba(0,0,0,0.45);
    border-radius: 12px;

}

/* Left image grid */
.edu-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

/* Image styling like teh home page */
.edu-img-box {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
    border: 4px solid rgba(255,255,255,0.4);
}

/* Right-side text content */
.edu-text h2 {
    margin-top: 15px;
    font-size: 1.4rem;
}

.edu-text {
    font-size: 1.1rem;
}

/* Links for PDFs */
.edu-link {
    color: #e8ff4a;
    text-decoration: underline;
}

.edu-link:hover {
    color: #c6db3b;
}

/* Lists and paragraphs */
.edu-text ul {
    list-style: none;
    padding: 0;
}
.edu-text li {
    margin: 8px 0;
}

.edu-rules, .edu-extra {
    margin-top: 10px;
    line-height: 1.6;
}
