{% extends "base.html" %}
{% block content %}
<div class="animal-section">
    <h1 class="ani1-title">Bat</h1>
    <div class="ani-layout">
    <!-- LEFT IMAGES -->
    <div class="ani1-images">
        <img src="{{url_for('static', filename='images/bat_img1.jpg')}}" alt="Animal Activity" class="ani-img-box">
    </div>
    <!-- RIGHT-SIDE CONTENT -->
        <div class="ani-text">

        <p class="ani-info">

            <h2>Extra Information</h2>
        <p class="ani-extra">

        </p>
    </div>
</div>
</div>

<div class="animal-section">
    <h1 class="ani1-title">Capybara</h1>
    <div class="ani-layout">
    <!-- LEFT IMAGES -->
    <div class="ani1-images">
        <img src="{{url_for('static', filename='images/capybara_img1.png')}}" alt="Animal Activity" class="ani-img-box">
    </div>
    <!-- RIGHT-SIDE CONTENT -->
        <div class="ani-text">

        <p class="ani-info">

            <h2>Extra Information</h2>
        <p class="ani-extra">

        </p>
    </div>
</div>
</div>


<div class="animal-section">
    <h1 class="ani1-title">Dusky Pademelon</h1>
    <div class="ani-layout">
    <!-- LEFT IMAGES -->
    <div class="ani1-images">
        <img src="{{url_for('static', filename='images/duskypademelon_img1.jpeg')}}" alt="Animal Activity" class="ani-img-box">
    </div>
    <!-- RIGHT-SIDE CONTENT -->
        <div class="ani-text">

        <p class="ani-info">

            <h2>Extra Information</h2>
        <p class="ani-extra">

        </p>
    </div>
</div>
</div>

<div class="animal-section">
    <h1 class="ani1-title">Elephant</h1>
    <div class="ani-layout">
    <!-- LEFT IMAGES -->
    <div class="ani1-images">
        <img src="{{url_for('static', filename='images/elephant_img1.png')}}" alt="Animal Activity" class="ani-img-box">
    </div>
    <!-- RIGHT-SIDE CONTENT -->
        <div class="ani-text">

        <p class="ani-info">

            <h2>Extra Information</h2>
        <p class="ani-extra">

        </p>
    </div>
</div>
</div>

<div class="animal-section">
    <h1 class="ani1-title">Fossa</h1>
    <div class="ani-layout">
    <!-- LEFT IMAGES -->
    <div class="ani1-images">
        <img src="{{url_for('static', filename='images/fossa_img1.jpg')}}" alt="Animal Activity" class="ani-img-box">
    </div>
    <!-- RIGHT-SIDE CONTENT -->
        <div class="ani-text">

        <p class="ani-info">

            <h2>Extra Information</h2>
        <p class="ani-extra">

        </p>
    </div>
</div>
</div>

<div class="animal-section">
    <h1 class="ani1-title">Giant Anteater</h1>
    <div class="ani-layout">
    <!-- LEFT IMAGES -->
    <div class="ani1-images">
        <img src="{{url_for('static', filename='images/anteater_img1.png')}}" alt="Animal Activity" class="ani-img-box">
    </div>
    <!-- RIGHT-SIDE CONTENT -->
        <div class="ani-text">

        <p class="ani-info">

            <h2>Extra Information</h2>
        <p class="ani-extra">

        </p>
    </div>
</div>
</div>

<div class="animal-section">
    <h1 class="ani1-title">Hippopotamus</h1>
    <div class="ani-layout">
    <!-- LEFT IMAGES -->
    <div class="ani1-images">
        <img src="{{url_for('static', filename='images/hippopotamus_img1.png')}}" alt="Animal Activity" class="ani-img-box">
    </div>
    <!-- RIGHT-SIDE CONTENT -->
        <div class="ani-text">

        <p class="ani-info">

            <h2>Extra Information</h2>
        <p class="ani-extra">

        </p>
    </div>
</div>
</div>

{% endblock %}